[2022-01-04 20:07] ethanwhite commented on #282
Hi @PravinM83 - we recently fixed the issue with newer versions of albumentations (see f6bef55db6ec7a03214902c8314653063c30e842 and 5debdb4f4aa44df0f0d49e7a1f4d407c56ed5511). Can you try an install without the fixed version for albumentations?

[2022-01-05 17:43] ethanwhite commented on #281
Hi @eriklindquist - We haven't converted multi-spectral to RGB for this purpose, but I think fundamentally there are two approaches that make sense:

1. Just convert to RGB (or as close as you can get), which is likely what gdal is doing (but I don't know for sure). This will make trees appear in the same color space the model is built on which should make direct application and transfer learning

[2022-01-06 01:13] a-orn opened #283 "Pass config path into constructor"
**Please describe A feature you would like to be added.**
When comparing models I often have multiple config files, not always in the root directory.

**Describe the solution you'd like**
I'd like to add a path argument to the `deepforest()` constructor to override the path on [L40](https://github.com/weecology/DeepForest/blob/main/deepforest/main.py#L40)

**Alternatives you've considered**
Curren

[2022-01-07 16:18] ethanwhite commented on #283
Thanks for the suggestion @a-orn! Can you take a look at #284 and see if that covers what you're looking for?

[2022-01-09 01:29] alaney87 commented on #282
Evening @ethanwhite, forgive me - I'm very new to this space and highly under-qualified in all aspects. My background is in GIS and Remote Sensing. I've just started diving into Deep Learning Models and would love to give yours a go. However, I run into the exact same problem as PravinM83.

To Reproduce:
pip install DeepForest
from deepforest import main
(errors are identical to OP)

Unfortunately

[2022-01-10 12:52] ethanwhite commented on #282
Hi @alaney87 - thanks for this. I'm assuming that you're running on Google Colab as well, in which case your issue is that Colab has a bunch of (very) old versions of packages installed by default. I just tested the following install line to run in a new Colab notebook and everything works on my end:

[code]

Can you give that a try and see if it gets things working.

@PravinM83 - this also seems

[2022-01-10 13:43] PravinM83 commented on #282
@ethanwhite
The issue was coming with the old version of argumentations, it is working fine with the new one -
!pip install --upgrade deepforest albumentations pyyaml opencv-python

 Thanks a lot for your help.

@alaney87 we can close this issue if it is working fine for your case as well.

[2022-01-11 05:29] a-orn commented on #283
This looks awesome, thanks!

[2022-01-11 17:34] PravinM83 commented on #282
closing the issue as it is working fine with the new version of albumentations.

[2022-01-11 18:46] ethanwhite commented on #282
Thanks @PravinM83!

[2022-01-11 21:55] #283 closed

[2022-01-12 15:29] Ciaran1981 opened #286 "GPU detected but not usedf despite setting on model for training"
Hi  - what a great lib - thanks for making this available for researchers. Not sure if this is a bug per se.

When setting up a model for training as per the documentation  after the executing of:

`model.create_trainer()`

The following warning is returned:
[code]
I can train and predict fine, but the training is CPU borne despite earlier moving it to GPU as per the documentation.

Can you sugges

[2022-01-12 15:54] ethanwhite commented on #286
The `model` object probably isn't being told that you want to use the GPU. This information can be provided by either

1. Add a copy of [`deepforest_config.yml`](https://github.com/weecology/DeepForest/blob/main/deepforest_config.yml) to  the root directory of your project. Then modify that copy to add a 1 to the gpu line: `gpus: 1`.
2. Adding the following line to your code after creating the mod

[2022-01-12 15:56] ethanwhite commented on #286
If that doesn't work can you provide a minimal reproducible example (a small piece of code that when you run it reproduces the issue) since that will make it easier for us to understand what's going wrong.

[2022-01-12 16:48] bw4sz opened #287 "Improve multi-class model reloading"
Loading a multi-class model requires you to know the label dict and preset the classes, this is cumbersome.

If you use main.save_model and are loading a multi_class model, it requires you to create a new object, since main.deepforest() instantiates a deepforest single class model by default.

[code]

In the mean time the docs need to be clearer.

[2022-01-12 16:50] ethanwhite commented on #287
:+1: I've been running into this issue as well.

[2022-01-12 16:53] bw4sz commented on #287
Added to docs.

Loading a multi_class model which was saved using main.save_model is currently somewhat cumbersome (see https://github.com/weecology/DeepForest/issues/287).
The easiest way is to create a new deepforest object and preset the number of classes and label dict, just as you did during training.

[code]

[2022-01-12 16:57] ethanwhite commented on #287
Yeah, I had done what you did, just echoing that I think making it easier is important.

[2022-01-14 05:22] bw4sz commented on #287
https://pytorch-lightning.readthedocs.io/en/latest/common/hyperparameters.html is somewhere in the right direction.

[2022-01-15 10:15] easz opened #288 "new conda package for the latest version of deepforest"
**Please describe A feature you would like to be added.**
The available [conda package](https://anaconda.org/conda-forge/deepforest) is pretty old, would you also update it? or is the conda package managed independently from your work?

**Describe the solution you'd like**
latest deepforest version also in conda

**Describe alternatives you've considered**
use `pip` at the moment

**Additional con

[2022-01-15 15:12] bw4sz commented on #288
I've found the conda version much harder to manage. @henrykironde let's give it another go. There was something blocking it upstream of us.

[2022-01-15 15:17] bw4sz commented on #288
You can follow along here

https://github.com/conda-forge/deepforest-feedstock/pull/24

[2022-01-17 18:19] pbugnet opened #290 "Initial model to load for multi-class training"
I'm trying to train a deepforest model with multiple tree classes.
Do I need to start from scratch or can I use the latest release as a starting point, even though it's one-class only?
If so, do I need to modify the number of classes in some way or do I just need to provide annotation files with the required classes?
I couldn't find this in your documentation.
Thanks

[2022-01-18 15:12] ethanwhite commented on #290
Hi @pbugnet  - welcome! You can leverage transfer learning for detection while shifting to a multi-class model. We're currently using the following code to do this:

[code]

This  creates a new model with the appropriate number of classes, but then uses the backbone and regression head from the pretrained model to transfer learning about tree detection and tree related features.

*Note: this code

[2022-01-18 15:24] pbugnet commented on #290
Great! Thanks for the nice work on this project.

[2022-01-18 18:13] bw4sz commented on #288
Updated, please give a try and close when ready.
https://github.com/conda-forge/deepforest-feedstock

[2022-01-18 19:21] #273 closed

[2022-01-18 19:27] bw4sz commented on #276
Sorry for late response, cleaning out the issues. Cross-resolution is an important topic, let me know what docs I can add to help this. You are welcome to crop training chips to any size you like. They can even be of varying sizes (untested). That focal view versus patch size is the key. I have not found any equation which describes how patch_size should change in relationship to resolution. It se

[2022-01-18 19:27] #276 closed

[2022-01-19 09:00] easz commented on #286
something like this?
[code]

[2022-01-19 09:59] easz commented on #286
@ ethanwhite
is `m.to("cuda")` (i.e. `pytorch.to()`) relevant to training process?

[2022-01-19 11:08] easz opened #291 "suggestion on training large dataset regarding to insufficient GPU memory"
I try to train models on GPUs and immediately encounter "Cuda out of memory" problem.
My training images are about 1200x1200px (0.5m ~ 1.0m aerial resolution)
For each image there can be up to 2000 bbox for Tree labels.
My GPU has only about 5G memory.

is there any handy function in deepforest to handle such situation?
splitting training image and annotation automatically? (does it make sense due

[2022-01-19 12:34] ethanwhite commented on #288
@easz - does the conda installation work for you now? (we've been having some issues when testing locally)

[2022-01-19 12:36] easz commented on #288
let me check again....

[2022-01-19 12:51] easz commented on #288
btw, I had to install `albumentations` manually after `conda create`. The `albumentations` is probably missing in `deepforest-feedstock/recipe/meta.yaml`. I can try to make another PR.

[2022-01-19 12:58] ethanwhite commented on #288
Thanks @easz, that would be great.

It looks like I have a working version of this now on Linux (Ubuntu 21.10), but it's finicky. This works:

[code]

But this doesn't:

[code]

And it's a only a CPU build.

[2022-01-19 13:22] easz commented on #288
@ethanwhite
Actually I have the same issue with installation of `albumentations` on Windows. :P
I guess that conda has some issues with resolving its dependency.

And about pytorch cuda: on Windows it is installed automatically correctly..
(have to try again on linux..)

another problem on Windows: I have to upgrade `pytorch-lightning` afterwards.

did you also try this at first:
`conda create --n

[2022-01-19 13:43] EdwardHiscoke commented on #276
Thanks for the info. We are having some problems with training, but will create a new issue specifically for that. But on the subject of focal view we are currently using orthorectified imagery and I'm assuming that would not be as sensitive to focal view and instead more purely resolution?

[2022-01-19 13:56] ethanwhite commented on #288
Thanks @easz!

This incantation seems to work consistently on Linux:

[code]

Once https://github.com/conda-forge/deepforest-feedstock/pull/29 goes in we should be able to drop the albumentations part and then as long as this is working on other OSs I think we can update the install docs and call this good.

[2022-01-19 17:13] bw4sz commented on #286
No, you do not need to pass to device, it is handled inside the pytorch dataloader. I've never tested -1 for all GPUs, but it gets passed to the pytorch lightning Trainer, it looks like you are correct.

https://pytorch-lightning.readthedocs.io/en/stable/common/trainer.html#
[code]

[2022-01-19 17:13] bw4sz commented on #286
Please close when ready.

[2022-01-19 17:24] bw4sz commented on #276
It is difficult to speak with any authority on cross-resolution training.
I'm actively working on research papers on this because there is just alot
of unknown in this area. But i *think* it is sensitive to both focal view
and resolution in combination. Let's say you start with 400px at 10cm. And
now you have 20cm data. The natural thing to do would be to just to make
200px crops because that woul

[2022-01-19 17:55] bw4sz commented on #291
Interesting. We have not had to optimize for GPU memory, this has not come up before. I think you want to use

https://deepforest.readthedocs.io/en/latest/source/deepforest.html#deepforest.preprocess.split_raster

preprocess.split_raster  to divide your tiles into smaller pieces. The deepforest baseline model is 10cm at 400px crops. There is no exact science on cross-resolution fine tuning. But I'

[2022-01-19 18:19] EdwardHiscoke commented on #276
Right, I saw that mentioned in the documentation somewhere and scratched my head wondering if that was the right way around. So we are currently inferring on our base 5cm ortho images to create a new annotated dataset for retraining and improving the model to our specifics and hope to be able to eventually discern between a few classes of tree. So we will be tweaking and testing lots of settings s

[2022-01-19 18:44] easz commented on #291
thanks for the advice. The method `deepforest.preprocess.split_raster` is very helpful.

The most images I have are not better than 0.6m resolution and contain large amount of small trees (e.g. young urban trees), therefore I try to begin with 1200px initially.

I will give it a try with eventually smaller windows but I am still afraid that the large amount (e.g. 1k) of Tree labels causes large GP

[2022-01-19 19:32] bw4sz commented on #290
Should this go in docs? Or still too new and untested?

[2022-01-19 20:02] pbugnet commented on #290
Not yet tested on my side.

[2022-01-19 21:26] ethanwhite commented on #290
This is what we've had running for Everglades for the last couple of months, so I think the answer is yes, once this particular version of the code has been run to make sure there aren't any typos in my translation.

[2022-01-20 03:50] #287 closed

[2022-01-20 03:58] bw4sz commented on #288
@ethanwhite can you make a PR for the docs change for what works for you and then we can close?

[2022-01-20 09:51] Ciaran1981 commented on #286
Hi,

Sorry for the delay - doing this seemed to work.

Cheers!

[2022-01-20 10:56] easz commented on #291
actually it could done on-the-fly in the `predict_tile` as well as `dataset.TreeDataset` (similar to predict_tile on large image).  I can make a PR later.

[2022-01-20 10:56] #291 closed

[2022-01-20 12:19] ethanwhite commented on #286
Glad you got it working @Ciaran1981. Thanks for reporting back!

[2022-01-20 12:19] #286 closed

[2022-01-20 14:50] easz opened #293 "No predication can be made after training"
after training existing release model I still did not see any improvement on detection result. Therefore I tried to just train the original model (nevertheless still a pre-trained retinanet_resnet50_fpn) to see if my training process actually works.

my code:
[code]

but I got
[code]

- is there any recommendation to troubleshooting/debug?
- how many epochs did you need during the first ever train

[2022-01-20 17:44] #290 closed

[2022-01-21 09:11] easz opened #295 "num_classes usage is not consistent with torhcvision's doc"
**Describe the bug**

There was doc fix in torchvision https://github.com/pytorch/vision/pull/4132 for the issue https://github.com/pytorch/vision/pull/4132 (@bw4sz you were also in the discussion :) )

Basically the parameter `num_class` in RetinaNet should include the background.
[code]

if so, then the deepforest.ctor seems be wrong with `num_classes=1`
https://github.com/weecology/DeepForest/b

[2022-01-21 10:48] easz commented on #293
some positive feedback from me.

the initial idea from me to re-train the network from scratch (or from pre-trained RetinaNet) is not feasible, since it would require a huge amount training data and iterations. (@bw4sz  how many training data did you have from NEON? 100 million samples !?) My attempt with just few epochs and pretty small amount of samples would definitely fail.

My another attempt

[2022-01-21 12:42] EdwardHiscoke opened #296 "Will unannotated trees impact training?"
This is not a bug, just a question on the quality of the annotations used to retrain the model for multi-class detection of trees.

We have started creating our own annotations using the base DF model and refining the output annotations by hand and then retraining. Currently only part of all our images annotatedand are for the two classes Spruce and Deciduous with about a thousand of each annotate

[2022-01-21 13:54] ethanwhite commented on #296
Yes

Yes, because it will treat the unannotated trees as "not trees"

It depends on how different it is from other classes. If it's really obvious by eye from the imagery then I think there's a reasonable chance that 1000 annotations might get you close when retraining from the base model. See the recently added docs for how to use the base model for detection while training a multi-class model: h

[2022-01-21 17:09] bw4sz commented on #295
This is done internally. That was the outcome of that thread. num_classes if the number of classes NOT including the background. I don't see a reason to align with torchvision here, most ecologists do not have the experience with these tools and num_classes = 2 for a single annotated class would only lead to confusion.

[2022-01-21 17:09] #295 closed

[2022-01-21 17:45] eriklindquist commented on #281
Yep...sorry. Was trying some things to see if I could contribute but taking longer than I thought. Will close.

[2022-01-21 17:45] #281 closed

[2022-01-21 22:14] bw4sz commented on #293
Are there are changes to docs we can make to this clearer?

[2022-01-21 22:15] bw4sz commented on #280
I don't believe there is anything to worry about here. Our policy has been to not suppress upstream warnings.

[2022-01-21 22:15] #280 closed

[2022-01-22 14:06] EdwardHiscoke commented on #296
Right, having had a first check after a brief 30 epochs training it looks like we are starting to get results. It appears the model has started discerning between more nebulous desciduous tree tops and the spikier coniferous, or at least spiky tree tops.
We'll discuss this on monday with our team and look into creating more annotations. Thanks for the swift reply to my questions!

[2022-01-24 13:49] EdwardHiscoke opened #297 "Are there any species annotation data available in the NEON Crowns dataset?"
According to the documentation the current NEON Crowns dataset does not currently contain any classes other than "Tree". We have started annotating our own localised multi-class training set for pine/spruce/deciduous and wonder if there are any other known species annotations (sub sets of NEON?) for multi-class training using the same classes or thereabouts available for the northern US?
I hope it

[2022-01-24 16:06] ethanwhite commented on #296
My pleasure. Good luck and let us know (in other issues) if there's anything else we can do to help.

[2022-01-24 16:06] #296 closed

[2022-01-25 07:56] easz commented on #293
It is probably not DeepForest specific but rather general practice applicable to deep learning.

What I learned from my first experiment:

1. when a model is trained from scratch (e.g. no `use_release()`), logging can be very useful to see how learning progresses.

[code]

2. If small objects (e.g. in a urban scene) need to be detected, a smaller window size (i.e. `patch_size`) is preferred.  Such

[2022-01-25 14:56] ethanwhite commented on #297
Totally appropriate @EdwardHiscoke! NEON does have geolocated field stems with species IDs that can be associated with the remote sensing and used for multi-class work. We are using them in https://github.com/weecology/DeepTreeAttention if you want to see how we're currently doing that. If you have any questions once you've taken a look an issue over in that repo would be a good place to chat.

[2022-01-26 09:22] #293 closed

[2022-01-26 15:24] EdwardHiscoke commented on #297
That sounds most interesting. I'll get over to the attention project and check it out. Thanks!

[2022-01-26 15:24] #297 closed

[2022-01-30 07:22] saadmazouzi opened #300 "missing variables in DeepForest/deepforest/data/deepforest_config.yml"
**Describe the bug**
In the  DeepForest/deepforest/main.py we find :
in the line 169 self.config["train"]["preload_images"] -> which mean the deepforest_config should contain it but it's not the case
also in the line 413 self.config["validation"]["val_accuracy_interval"] == 0  we need to add the val_accuracy_interval in the config file

**To Reproduce**
Steps to reproduce the behavior:

`m= main.d

[2022-01-30 08:57] easz opened #301 "remove checkpoint_callback=False to be able to set up checkpointing"
**Please describe A feature you would like to be added.**

It would be nice to be able to set up [checkpointing](https://pytorch-lightning.readthedocs.io/en/stable/common/weights_loading.html) during training which is not possible in the current deepforest version 1.2.0.

I.e. the following code is not possible with the current deepforest which sets [checkpoint_callback=False](https://github.com/w

[2022-01-31 15:12] acocac opened #303 "DeepForest showcase in the EnvDS book"
**Please describe A feature you would like to be added.**
I'm building examples of existing models for tree crown mapping and publishing them in the EnvDS book.

**Describe the solution you'd like**
The EnvDS book is already hosting a Jupyter notebook showcasing DeepForest (see [here](https://the-environmental-ds-book.netlify.app/forest/modelling/forest-modelling-treecrown_deepforest.html)). I'm w

[2022-01-31 18:53] bw4sz commented on #301
Thanks for the issue, I agree that this functionality needs to be improved. I think checkpoint callback was deprecated.

https://pytorch-lightning.readthedocs.io/en/stable/common/trainer.html#checkpoint-callback

[2022-01-31 18:55] bw4sz commented on #301
<img width="1071" alt="Screen Shot 2022-01-31 at 10 54 05 AM" src="https://user-images.githubusercontent.com/1208492/151854902-873028ec-8281-4c41-8151-ada69bbe1328.png">
On second look, it looks like this use case is built in, passing the checkpoint should override
[code]
within the trainer. I think the real issue is that we've got

[code]

when we want

[code]

I'll make a quick PR.

[2022-01-31 19:03] bw4sz commented on #301
Looks like this a recent API change

[code]
I had pytorch-lightning 1.4.1 locally. We made need to pin a version. Hard when these API keep changing.

[2022-01-31 19:05] bw4sz commented on #301
[code]

works.

[2022-01-31 20:52] #301 closed

[2022-01-31 22:45] bw4sz commented on #300
What version of deepforest do you have? Looking on the git repo, these values already exist?

https://github.com/weecology/DeepForest/blob/0c7c881ada5e01a3fc33827b0eeffa96265680eb/deepforest_config.yml#L27

One idea is when you do
[code]

we need to make sure package data gets updated.

[2022-01-31 22:48] bw4sz commented on #300
Looking here at latest pypi release (1.2.0)

https://github.com/weecology/DeepForest/compare/1b53767ca632ae17df44d47a3e84632d62a34922...main

there have been no changes to config.yml, so i'm confused how you don't have the version that matches the repo.

[2022-02-02 10:43] easz opened #306 "confusing document about image convention"
**Describe the bug**

the input argument `image` from the API `predict_tile` is documented as `in BGR channel order` which is confusing. I think it should be just in usual RGB order, therefore wrong.

https://github.com/weecology/DeepForest/blob/0c7c881ada5e01a3fc33827b0eeffa96265680eb/deepforest/predict.py#L151

Some lines later...

https://github.com/weecology/DeepForest/blob/0c7c881ada5e01a3fc3

[2022-02-04 21:10] ethanwhite commented on #300
@bw4sz - this is for the config in file in `/deepforest/data` see https://github.com/weecology/DeepForest/pull/302#issuecomment-1030333778 (where I made the exact mistake you did.

I just merged @easz's PR so this is fixed now.

Thanks for reporting @saadmazouzi and sorry for the confusion.

[2022-02-04 21:10] #300 closed

[2022-02-04 21:14] ethanwhite commented on #288
PR is in and everything is working so closing this issue.

[2022-02-04 21:14] #288 closed

[2022-02-07 14:13] urgis-git opened #308 "C"

[2022-02-07 15:01] #308 closed

[2022-02-07 15:08] liliana175 opened #309 "Saving/loading trained model issue"
Hi, I'm trying to save and load the model after training but looks like when Ioad it, the config did not change

{'batch_size': 1,
 'distributed_backend': None,
 'gpus': None,
 'nms_thresh': 0.05,
 'score_thresh': 0.1,
 'train': {'csv_file': None,
  'epochs': 1,
  'fast_dev_run': False,
  'lr': 0.001,
  'root_dir': None},
 'validation': {'csv_file': None, 'iou_threshold': 0.4, 'root_dir': None},

[2022-02-08 16:11] pbugnet commented on #290
Hi Ben. Could you please tell me more about the locations of the sites that were used for the DeepForest pre-trained model? Are they spread out all over the US or from a specific state. I wish to use DeepForest on canadian sites and would like to make sure of the variability of trees used for training

Thank you and congrats on this project.

Pierre

Pierre Bugnet M. Sc.
Spécialiste télédétection

[2022-02-08 16:22] JoelMet opened #310 "Error 'preload_images' when training model"
Hi,
I saw a similar issue a while ago and hoped that you might have posted a solution. But now the issue ist gone and I cant find any information of how you fixed it.

I have an error message when I try to train a model using DeepForest and the Google Colab environment. I used the same code as shown in your google colab tutorial.

Before I started my code I updated the deepforest package:

[code]

[2022-02-08 18:24] bw4sz commented on #310
Hi, just for others, can you wrap code into

[code]

so it formats. I'll fix the co-lab tutorial, i'll need to re-trigger a python build.

[2022-02-08 22:03] bw4sz commented on #290
Hey Pierre

You can see details here:
[Methods Ecol Evol - 2020 - Weinstein - DeepForest  A Python package for RGB deep learning tree crown delineation.pdf](https://github.com/weecology/DeepForest/files/8027793/Methods.Ecol.Evol.-.2020.-.Weinstein.-.DeepForest.A.Python.package.for.RGB.deep.learning.tree.crown.delineation.pdf)

Without seeing a sample image, it is hard to know, but in general, its

[2022-02-08 22:03] bw4sz commented on #290
Hey Pierre

You can see details here:
[Methods Ecol Evol - 2020 - Weinstein - DeepForest  A Python package for RGB deep learning tree crown delineation.pdf](https://github.com/weecology/DeepForest/files/8027793/Methods.Ecol.Evol.-.2020.-.Weinstein.-.DeepForest.A.Python.package.for.RGB.deep.learning.tree.crown.delineation.pdf)

Without seeing a sample image, it is hard to know, but in general, its

[2022-02-09 10:04] JoelMet commented on #310
Sorry my bad. Thanks for your help.

[2022-02-15 17:17] elock4567 opened #311 "Can not process GeoTIFF"
**Describe the bug**

Hello, I am trying to process a GeoTIFF using DeepForest and the release model. when I run the package it returns with "no predictions made, returning none" I have adjusted the window size with the same results. when the image is converted to a png it runs smoothly. I need the GeoTIFF to run so I can return shapefiles, to use the bounding boxes for further analysis in GIS sof

[2022-02-21 14:06] Kikihqq commented on #310
I also get the error when i train on my own server:
KeyError: 'preload_images'
How can i fix this?

[2022-02-21 14:59] bw4sz commented on #310
I need a user to provide significantly more detail. When did you install, how did you install, what version do you have. I cannot replicate this issue locally and need to understand the conditions when it occurs. Can you confirm whether

[code]
solves the issue?

[2022-02-22 01:41] Kikihqq commented on #310
I installed it yesterday by
`conda install deepforest albumentations -c conda-forge`,
The version is `deepforest-1.2.0`
And i run the code :
[code]
And there are some errors:
[code]

[2022-02-22 01:59] Kikihqq commented on #310
Do i  need try `conda update deepforest` or `pip install deepforest --upgrade` ?

[2022-02-22 07:52] Kikihqq opened #312 "Predict a single image"
I use the guide in `readme.md` to predict a single image
[code]
But the errors occurred:
[code]
I think it should be
[code]
But i couldn't get the right answer, when i print `df`,the output is `None`.

How exactly should I predict a single image?  Thans a lot.

The complete code is as follows：
[code]

[2022-02-22 08:12] Kikihqq commented on #312
When i change this
[code]
It seems to be predict successfully ?
[code]
So if i have an `.jpg` image，How can i predict it ?

[2022-02-23 06:22] #312 closed

[2022-02-27 08:40] sachin22225 opened #313 "Issue in model traning in custom dataset KeyError: 'tree'"
I am following the colab tutorial and demo to train the model on custom dataset.
I am facing the error in runing
https://colab.research.google.com/drive/1gKUiocwfCvcvVfiKzAaf6voiUVL2KK_r?usp=sharing

I got this error at this line
[code]
I have created the dataset using labelmg. The dataset look like this
	image_path	xmin	ymin	xmax	ymax	label
0	1.jpg	          570	159	          593	193	        tree

[2022-02-27 15:41] bw4sz commented on #313
Please format your code.

[code]

and include a full reproducible example, or atleast the full set of code. I believe you did not chance the label_dict from 'Tree' to 'tree', notice the capital. Just guessing.

[2022-03-06 05:23] sachin22225 commented on #313
Yes I have converted tree to Tree. It is working now

[2022-03-08 10:33] easz commented on #309
do you have some code example? how did you train, save and load models?
[code]

The `model.config` is very probably not part of pytorch lightning module and have to be configured manually.

[2022-03-08 10:44] easz commented on #311
It should work with geotiff as well. How is your parameter such as `iou_threshold`?

And I will try `patch_size` with `200` on your sample image to see if it works better.

my example:
https://www.kaggle.com/easzil/urban-tree-detection-from-aerial-images

[2022-03-08 17:19] #313 closed

[2022-03-08 18:00] bw4sz commented on #309
This is indeed a bug. Good catch @liliana175. If you had changed the .config file on path it would have worked, since we call save_hyperparameters() on deepforest.__init__(). However, since you are probably changing config after init, those changes are not saved. I'm going to see if I can make a quick PR with the following test.

[code]

[2022-03-08 18:14] bw4sz commented on #309
Looks like this is a function and not a bug. https://pytorch-lightning.readthedocs.io/en/latest/common/hyperparameters.html#save-hyperparameters. If you want to save config, you need to do it from .config.yml and not inline. I will update the docs.

[2022-03-08 18:14] #309 closed

[2022-03-12 16:16] ethanwhite commented on #310
1.2.1 has been on conda-forge for a while now, so I'm going to go ahead and close this. If anyone is still having issues please feel free to reopen.

[2022-03-12 16:16] #310 closed

[2022-03-22 05:11] Al-ameen007 commented on #202
hello, I wanted to become a GSoC contributor, and this seems like a good place to start, what exactly should I do?

[2022-03-28 20:31] bw4sz opened #316 "Allow users to make a new classification model using existing regression head"
Followup to convo with @henrykironde  and ansh.

1. Make a new config argument 'freeze_regression_head' that takes in maybe 'tree' or 'bird', @henrykironde this relates to our discussion that as we have more and more trained models we need a strategy to call them.
2. in deepforest __init__ if config["freeze_regression_head"] is not None, load the particular release model and create a new model wit

[2022-03-28 20:39] bw4sz opened #317 "Model library"
@ethanwhite, @henrykironde and I were discussing that as the number of trained models increase, we probably want some more refined way of versioning them and calling them. Right now they are saved alongside the release tags. Each new model would get a  "use_release" method, with redundant code, etc.

An example release looks like:

https://github.com/weecology/DeepForest/releases/tag/1.0.0

Which

[2022-03-28 20:44] dassaniansh commented on #316
I'll create a pull request by making a new config argument as mentioned in point 1 and can move forward accordingly.

[2022-03-29 16:40] bw4sz opened #318 "Model should be less sensitive to resolution"
Overall the models are too sensitive to input resolution. There are two strategies to improve, 1) the preprocessing, 2) the model weights.

# Preprocessing

As the resolution of the input data decreases compared to the data used to train the model, the patch size needs to be larger.

Can we come up with a function that describes how the patch size argument in predict_tile should respond to data of

[2022-03-29 16:43] bw4sz opened #319 "Documentation and functions should be more inclusive to other languages"
I'd be interested in exploring how to make the functions and documentation more easily translated.

https://py-googletrans.readthedocs.io/en/latest/

https://github.com/readthedocs/readthedocs.org/issues/4315

https://docs.readthedocs.io/en/stable/localization.html

This would extend to the colab tutorials. All languages are welcome. Spanish, Portuguese, Mandarin and French are probably the first.

[2022-03-29 16:46] kkothari2001 commented on #318
Hey @bw4sz  Do you think upscaling/downscaling the input resolution to something that better matches a default patch_size a good way to deal with such an issue? We can explore all sorts of algorithms for this.

[2022-03-29 16:59] bw4sz opened #320 "Create a workflow for downstream classification of crops."
Often users don't have annotations for entire images with annotated bounding boxes, but just have individual point locations. It would be helpful to have a fine-tuning workflow that allows users to take a torchvision classification model (e.g resnet-50) and apply it predicted class locations based on an existing retinanet model. We would need to a workflow to train a classification model and deliv

[2022-03-29 17:01] bw4sz commented on #202
I made a few issues that are more pertinent than this. I'm going to close, can you tell me a bit about your goals. And we can work from there.

[2022-03-29 17:01] #202 closed

[2022-03-29 17:03] bw4sz opened #321 "Ask user if they want to download the latest model."
We have not specifically gotten into this problem yet, but there should be a mechanism to ask user if they want to download a new model, instead of forcing it here.

https://github.com/weecology/DeepForest/blob/e31ecabf07b1b7d2444ba2c1d1298df79a416c27/deepforest/utilities.py#L82

[2022-03-29 17:06] ethanwhite commented on #321
Just a note on implementation - I think this should be an optional argument like `update = True`, not an interactive query. I think we also want a related optional argument that lets you pin to a specific release.

[2022-03-29 17:35] bw4sz commented on #318
I am open to all ideas. In general I am worried about manipulating input
data, its computationally heavy (these are going to be huge tiles) and we
could lose detail when downscaling. But i'm open to testing it. My first
idea was to manipulate the patch size argument and leave the input data as
is. All options are open.

On Tue, Mar 29, 2022 at 9:47 AM Kush Kothari ***@***.***>
wrote:

--
Ben Weins

[2022-03-29 18:05] kkothari2001 commented on #318
I understand the concern about manipulation of the input data.

Actually, the idea I had originally had, was estimating the tree size as a blob. For example, we may need to downscale a tree x times, before it becomes a blob of width 10pixels. From then we can figure out the patch_size as a possible function of x. Higher resolution data will have a greater x, because it will need more downscales to

[2022-03-30 05:43] carsumptive commented on #216
What was the resolution to this issue?? Which commit fixed it and how??

[2022-03-30 07:18] easz commented on #318
here is my comment without any concrete solution...

I had to work with different resolutions and found out a simple `resolution` argument may not be sufficient. I am using map images from web map server. Even there is well defined resolution for specific "zoom" level, the image quality can vary a lot due to their different original raw image sources. (i.e. the input images have been already down/

[2022-03-30 11:31] ethanwhite commented on #216
Unfortunately it's spread out over a period of time so it's a bit hard to point to a single point. In concept we had support from this from the beginning, but if I'm remembering correctly it wasn't initially supported by pytorch (when we made the switch from tensor flow) and when it became available we still had some bugs to clean up.

Here are a few relevant commits: 1d8910bde336cc575a3272a3e0c8c

[2022-03-30 11:36] #306 closed

[2022-03-30 12:15] ethanwhite opened #323 "GitHub Actions tests failing on Ubuntu due to issue with conda setup"
See https://github.com/weecology/DeepForest/runs/5753610560?check_suite_focus=true#step:4:314

@henrykironde - can you take a look at this?

[2022-03-30 12:21] ethanwhite commented on #323
Actually @henrykironde - let's wait on this until #314 is in. I forgot that I probably fixed it as part of getting the tests working on that PR, so hopefully once it's merged the CI will go back to working.

[2022-03-30 12:22] ethanwhite commented on #323
@bw4sz - I think this makes merging #314 (or having me split it into two pieces and merging the testing piece) a priority

[2022-03-30 18:31] bw4sz commented on #323
Merged. Close when ready.

[2022-03-30 18:34] bw4sz commented on #216
I believe the codebase works for this use case. The bigger question in my mind, is when, if ever do empty frames make a tangible difference. We will continue to work on this in our bird detection work, but I remain a little skeptical.

[2022-03-30 18:52] #323 closed

[2022-03-31 21:29] dassaniansh commented on #316
@bw4sz, I opened a pull request as suggested by you earlier, can you please guide me on how to move forward with it?

[2022-04-01 18:35] bw4sz commented on #316
@dassaniansh let's keep the convo here. See the link above.

The use_bird_release model has 1 class 'Bird', imagine a user wants to start from that model, but has 5 classes of birds ('flamingo', 'ibis', 'egret','duck', 'goose'). We want them to start from a model that can make predictions of 'birds', but learn new classes.

So in init, we want to load the regression head to the newly created 5 cla

[2022-04-02 13:38] dassaniansh commented on #316
@bw4sz So what I want to ask here is that do we know how many classes we are going to have right now or do I have to create a single training pipeline that can (will) be trained over all the databases of different classes. Another thing is that hopefully, Should I use the Retinanet model for training purposes or any other? finally, do we have any sample data right now with which I can start the tr

[2022-04-04 17:28] bw4sz commented on #316
No model training is needed. To create a deepforest model, there is a classes argument.

https://github.com/weecology/DeepForest/blob/02aac1fd8105f18e63c321be170c2c55d82a51c6/deepforest/main.py#L23

so we know at time of model creation how many classes are desired. But there is no reason to start from scratch. So we want to give the user an opportunity to load a baseline model, which has just a si

[2022-04-09 13:40] puranjay123 commented on #321
@ethanwhite @bw4sz
Hi, I am a Puranjay Kwatra GSOC participant and I want to work on this project so can I start with this issue any guidance would really helpful if you could please guide me I want to contribute to this organization as It matches my specific area of interests.

[2022-04-12 18:24] victoic commented on #231
I would love to know as well.

[2022-04-16 11:06] dassaniansh commented on #316
I have tried to implement what you suggested, can you check whether I was able to understand it properly or not, Thanks.

[2022-04-18 05:53] landkwon94 opened #324 "How to use my own trained model for conducting inference?"
Hello Sir, I was previously using the former version of DeepForest which was written 2021 February. But it seems there are some changes in current version.

I want to use my own pre-trained model which has '.h5' file format for my own inference :)
My original codes written last year are not working properly well now.. So may I ask you the method how to conduct inference with pre-trained model in c

[2022-04-18 12:08] ethanwhite commented on #324
In 2021 June we moved from tensorflow to Pytorch. See #195. Therefore pretained tensorflow models (including those made by the package prior to 2021 June) will no longer work with the current release or main branch.

The tensorflow version of the package as of 2021 June is available in a branch here: https://github.com/weecology/DeepForest/tree/tensorflow

You can try running your old model on tha

[2022-06-09 07:32] easz opened #325 "freeze backbone layers to do transfer learning?"
will the whole network get further trained/modified when a pre-trained model is trained with new data?
https://deepforest.readthedocs.io/en/latest/getting_started.html#training

isn't it a common practice to freeze backbone network (and train only heads) when doing transfer learning?
what is your experience?

otherwise we may provide an option to freeze backbone on demand. (e.g. `requires_grad = F

[2022-06-09 11:10] ethanwhite commented on #325
I'll provide the best response I can, but @bw4sz may want to jump in here as well.

Yes, the current behavior is to train the full network when fine-tuning a pretrained model.

Yes, but the best choice depends in part on whether you you think you need to change/improve the underlying feature representations or just the application of them in the heads.

I agree that having this as an option is a g

[2022-06-10 01:57] mjb-oz opened #326 "Best way to do augmentations"
Hi there,

I'm revisiting Deepforest again after not using it for 18months - things have changed a lot!

This question was previously an issue about getting the GPU working, but I cracked that, so have changed it to the current question.

Have you guys built in any augmentation functionality? Eg horizontal flipping? I need to do this for my data (all the shadows in the labelled data are to the eas

[2022-06-10 07:24] easz commented on #326
it is possible to pass augmentation functions as `transforms` parameter to `deepforest` constructor
https://github.com/weecology/DeepForest/blob/02aac1fd8105f18e63c321be170c2c55d82a51c6/deepforest/main.py#L23

otherwise a default transformation with HorizontalFlip is used (for training)
https://github.com/weecology/DeepForest/blob/02aac1fd8105f18e63c321be170c2c55d82a51c6/deepforest/dataset.py#L25

[2022-06-10 18:54] devinmk opened #327 "Dependency Errors"
Hi, when attempting to import main I'm getting errors regarding the 'albumentations' package that deepforest utilizes.

Import Error is as follows:

`[/usr/local/lib/python3.7/dist-packages/deepforest/dataset.py](https://localhost:8080/#) in <module>()`
     `18 from torch.utils.data import Dataset`
     `19 import albumentations as A`
     `---> 20 from albumentations import functional as F`

[2022-06-14 16:41] bw4sz commented on #318
@dassaniansh let's use this issue. The first thing we need is the evaluation score (https://deepforest.readthedocs.io/en/latest/Evaluation.html) as a function of input resolution.

1. Download a set of evaluation data.
2. Resample in python/qgis (https://rasterio.readthedocs.io/en/latest/topics/resampling.html). The input res is 10cm, so probably something like 15cm, 20cm, 30cm, 40cm, 50cm, 60cm.

[2022-06-17 04:06] mjb-oz commented on #326
Hi Easz, thanks for the response.
Sorry about the delay, I'm working on two different projects currently, so am just flipping back to this one.

Just to be clear then, if I add a list of augmentations/transforms as listed in https://github.com/albumentations-team/albumentations/blob/master/albumentations/augmentations/transforms.py, then each of these transforms gets randomly applied during each t

[2022-06-18 18:13] easz commented on #326
The default augmentations from deepforest looks like this

https://github.com/weecology/DeepForest/blob/02aac1fd8105f18e63c321be170c2c55d82a51c6/deepforest/dataset.py#L25-L31

Therefore I would also append  `ToTensorV2()` and pass the same `box_params`.
maybe someone can confirm it.

[2022-06-26 17:09] dassaniansh opened #328 "predict_image does not return image_path within the dataframe"
**Describe the bug**
When using the `evaluate.evaluate` function on the prediction made by `predict.predict_image`,
an error is shown
[code]

[2022-06-28 16:21] bw4sz commented on #328
Normally, you use the class object of the deepforest model for evaluate. evaluate.evaluate is more of an internal function. How can we improve docs to show this? If you look at the doc string of deepforest.main

https://deepforest.readthedocs.io/en/latest/source/deepforest.html#deepforest.main.deepforest.evaluate

you can see the input format. If you need to use evaluate directly. I'd try somethin

[2022-07-11 20:59] ivyleavedtoadflax opened #331 "Google Colab example errors with `ImportError: cannot import name 'functional' from 'albumentations'`"
**Describe the bug**
Trying to run the colab linked to in README errors with: `ImportError: cannot import name 'functional' from 'albumentations'`

**To Reproduce**
1. Open https://colab.research.google.com/drive/1gKUiocwfCvcvVfiKzAaf6voiUVL2KK_r?usp=sharing in your browser
1. Select `runtime` > `change runtime type` > GPU
1. Select `runtime` > `run all`

**Environment (please complete the followi

[2022-07-11 21:41] easz commented on #331
the installed `albumentations` is too old.
I have tried `albumentations` version 1.0.0 (and btw a newer opencv like 4.6.0 is also necessary) and it works

[2022-07-12 10:58] ivyleavedtoadflax commented on #331
Thanks, yep, if you have a pinned set of dependencies, that would be a great help!

[2022-07-12 13:34] bzsklvnt commented on #231
@Smart133594 what was your solution?

[2022-07-12 14:59] Smart133594 commented on #231
That was my code issue, all is fine.

[2022-07-12 15:37] Smart133594 commented on #231
I added some codes and that working now fully for the training..
All of trees detecting with tree names.
What is your email?

[2022-07-12 15:43] bzsklvnt commented on #231
Hi
Do you receive this email?

On Tue, Jul 12, 2022, 17:37 Smart Dev ***@***.***> wrote:

[2022-07-12 15:44] Smart133594 commented on #231
No

On Tue, Jul 12, 2022 at 11:43 AM Bozsoki Levente ***@***.***>
wrote:

[2022-07-13 13:12] bzsklvnt commented on #231
Please contact me at ***@***.*** !

Smart Dev ***@***.***> ezt írta (időpont: 2022. júl. 12., K,
17:44):

[2022-07-27 15:19] 0xSynesty commented on #326
Hello, I am trying to figure out how to implement annotations, and I tried this :

But it does not seem to work, I get an error from albumentations saying

Did someone manage to implement custom transforms ?

There's also a question I want to ask to you @easz , with my understanding of the code, It seems that models trains only on default augmented images (ie horizontal flip), is that the case ?

[2022-08-01 12:46] nilsleh opened #332 "IoU Evaluation Default Value"
**Describe the bug**
The default value of the iou value during evaluation in the [default config file](https://github.com/weecology/DeepForest/blob/main/deepforest/data/deepforest_config.yml) is set to 0.4 and I am wondering why that is the case? The common value in the literature and your [original paper](https://www.mdpi.com/2072-4292/11/11/1309) is 0.5.

[2022-08-01 13:55] nilsleh opened #333 "Model Checkpointing"
**Describe the bug**
In [main.py](https://github.com/weecology/DeepForest/blob/02aac1fd8105f18e63c321be170c2c55d82a51c6/deepforest/main.py#L127), the `enable_checkpointing=False` is hard coded. When I pass a lightning ModelCheckpoint to `create_trainer()` then it throws the error:
`Trainer was configured with "enable_checkpointing=False"  but found "ModelCheckpoint" in callback list`.

**To Reprod

[2022-08-01 14:00] easz commented on #333
I had the same issue #301.
The fix #304 is not enough.

The hard coded part should be removed (See #298)

[2022-08-01 17:24] bw4sz commented on #332
I don't think there is a theoretical justification for any value. It depends on the input resolution of the object and desired bounding box overlap. In the case of trees, you are looking down a three dimensional object that is being represented in a 2D  plane. Given the accuracy of the ground truth and a 4 point nature of the bounding box, I think 0.4 seems reasonable and we've been using this val

[2022-08-01 17:24] #332 closed

[2022-08-01 17:37] nilsleh commented on #332
Thank you for your reply. I agree that there is no theoretical justification,  but a lower iou threshold will inflate precision and recall scores. So for the sake of model comparison a standardized value should be applied and as far as I can tell that value is 0.5. That was the motivation behind my question.

[2022-08-17 14:04] jeroenVerdonschot opened #334 "Has anyone tried to run Deepforest on Torchserve?"
I really like Deepforest. It works great and I was wondering if it can run on Torchserve.

It would be great if I could use it together with Torchserve. But I am a newbie on all this stuff and I don't know if it is possible and if so, how to set it up.

I also contacted the Torchserve team to see if they could help me out. (if they do let you know of course).

Thanks, Jeroen

[2022-08-18 08:21] luforestal opened #335 "Loss function is not computed."
Hello,

I am trying to train with RGB images of different size. However, since epoch 0 the loss function is not being computed. I only have a NaN from the middle of the iterations at best.

[code]

![image](https://user-images.githubusercontent.com/76424439/185345709-9b7a055c-b6df-4811-855c-f2a7c664101b.png)

 - Python version and environment : Python 3.8.10

Also, I have not been able to save any

[2022-08-19 09:27] ThomasHaarlem opened #336 "ImportError: cannot import name 'main' from 'deepforest'"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
I've a clean environment 'deepf' in Anaconda for the DeepForest package. I installed Spyder 5.3.0 to run the code in the section ["getting started](https://deepforest.readthedocs.io/en/latest/getting_started.html)" from read the docs.

[code]

**Environment (please complete the following information):**
 - OS: Windows 1

[2022-08-22 09:58] pythonlover22 opened #337 "DeepForest on regional scale."
Excuse me I am quite a beginner and I apologies if this is a trivial question.
I would like to use DeepForest on large area about 50000 square km. Does anyone tried DeepForest on regional scale to share a process plan for large area?
The input images are on 1 square km (50000 images with 20cm resolution); currently I have only one annotation file for 1 square km generated from one image located in

[2022-08-22 22:26] EDGAR-BARAHONA commented on #231
Buen dia, ala fecha de hoy sigo presentando el mismo problema mencionado.

the model strcuture is the next.

![image](https://user-images.githubusercontent.com/65068285/186029470-ec96cb4c-3c6a-4af6-907a-849d47579002.png)

the result of the model is the next.

![image](https://user-images.githubusercontent.com/65068285/186029611-1aa2a0c8-f38a-41a8-a8ba-1ba9c09d52fb.png)

[2022-08-24 13:46] taucler opened #338 ""ReferenceError: weakly-referenced object no longer exists" on training"
Hi everyone, first of all, I'd like to thank the authors for all of their work on _deepforest_ which is what got me into _deep learning_.
As a student, I've been working on _deepforest_ for 2 or 3 months, and I'm computing my script on Google Colab Pro.

**Describe the bug**
[code]

**To Reproduce**
I keep getting this error during training of a model. My code look like this :
[code]

Note that so

[2022-08-25 22:12] bw4sz opened #339 ""Tree" Label when using bird_release."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Environment (please complete the following information):**
 - OS:
 - Python version and environment :

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2022-08-25 22:15] bw4sz commented on #338
I've seen this rarely too. I believe it lives far upstream of deepforest in pytorch lightning.

https://github.com/Lightning-AI/lightning/issues/12233

 I'm trying to remember the solution, its something to do with using the trainer as a class method. Sorry to not have a better answer. Are you training a model in a loop? Recreate the model object? As the issue says, it is something to do with garb

[2022-08-25 22:22] bw4sz commented on #337
I've done very very large areas -> https://www.ncbi.nlm.nih.gov/pmc/articles/PMC7895524/.

Not enough detail to know exactly how to help you. But I use dask to run predict tile on many cpus when available. You'll need some GPUs if possible. I'd start by running one model over a random set of tiles, then manually annotating a few tiles as you check them. 5,000 annotations is probably not going to d

[2022-08-25 22:22] #337 closed

[2022-08-26 08:18] taucler commented on #338
Hi Ben, thank you for your answer. I'm training the model the same way your training it in your Colab tutorial, so not in a loop. The code I'm executing is the one in my issue, there is nothing significant other than this (I'm only importing libraries and getting data from csv files.
I don't have any ReferenceError when I try saving the model either.
I'll come back here if I found any solution.

[2022-08-26 10:41] pythonlover22 commented on #337
Hi Ben, thank you for your answer and the link.
The trees are mostly homogeneous because the task is detection of trees within cities in streets and at buildings. Unfortunately, I could not have all data one time, which means I could not run random set of tiles over the state and I should work on one city then request the data of next city.

I have manually annotated 5000 trees belong to one city,

[2022-08-26 11:40] ethanwhite commented on #338
@henrykironde - if you have some time at some point could you see if you can replicate this consistently in Google Colab so that we can try to document a solution?

[2022-08-26 13:27] taucler commented on #326
Hi @mjb-oz I'm trying to do augmentations to improve my model's training data, with Albumentations.
I started by doing the same thing as you, which I suppose you got from Albumentations github :
[code]
(your first option doesn't work and throw a `TypeError: 'list' object is not callable`)

Unfortunately, I get the following error : `KeyError: 'image'` and do not understand why.
Did you find a way

[2022-08-26 14:13] bw4sz commented on #326
I need to document this better, I see the confusion. You need to define a transform for both train and eval in the same function. So its

[code]
Here is a test

[code]
I will add this to docs, thanks for catching this confusion. As always, I ask users to share their opinion of the backbone model and whether it needs to be updated. How have you found its utility? Any sample images to share?

[2022-08-26 14:16] #326 closed

[2022-08-27 14:48] bw4sz opened #340 "Integrate other large datasets."
This issue is meant for cataloging data that should eventually go into a deepforest baseline. Happy to have contributions from the community on this issue.

https://arxiv.org/pdf/2208.10607.pdf
https://github.com/jonathanventura/urban-tree-detection-data

A portion of this could be used.
https://google.github.io/auto-arborist/

More forest data

~https://lila.science/datasets/forest-damages-larch-

[2022-08-29 03:40] bw4sz commented on #338
I think one reasonable suggestion is to use a pytorch lightning trainer
outside of the class method and see if it can be reproduced. I think
its something with garbage collection and the trainer object as a
deepforest.trainer class.

On Fri, Aug 26, 2022 at 4:40 AM ethanwhite ***@***.***> wrote:

--
Ben Weinstein, Ph.D.
Research Scientist
University of Florida
http://benweinstein.weebly.com/

[2022-08-29 11:13] taucler commented on #326
Thank you for your help, the augmentation seems to work now !
Regarding my project, I'm using your backbone model to detect trees in cities and suburbs on satellite imagery (Airbus PLEIADES NEO, 0.5m/px), and I'm having wonderful results on accuracy (>99%) but only ~80% on recall. I'll share results when I finish my internship !

[2022-08-29 15:18] bw4sz commented on #326
great. If you can, I strongly encourage you to link to issue #350 and add
your dataset for others to benefit from in the future. The backbone can
only get better with contributions from others. Especially useful if you
already have the data formatted. Please do share any insights into hyper
parameter settings (crop patch size?) that has helped. Satellites are often
asked about.

On Mon, Aug 29, 20

[2022-08-29 19:09] ethanwhite commented on #338
Adding a fully reprex using deepforest's build in data:

[code]

@taucler - can you confirm that you see the same behavior with the m.config details added so that we can all run this consistently?

[2022-08-29 19:51] taucler commented on #338
Hello @ethanwhite , I can confirm you that my m.config look the same as you :
[code]

Every other line of code is the same as you.

[2022-08-29 22:44] bw4sz commented on #338
Just confirm update of pytorch doesn't solve the problem.

https://stackoverflow.com/questions/71156846/pytorch-pytorch-lightning-state-dict-cause-referenceerror-weakly-referenced

[2022-08-29 22:55] bw4sz commented on #333
Okay, let's look into this. We want 1) default to be no checkpoint, 2) allow users to add checkpoint. First step is to make a branch with two tests that fail in the current workflow.

[2022-08-29 23:01] bw4sz commented on #333
Creating a branch for this issue https://github.com/weecology/DeepForest/tree/model_checkpoint

[2022-08-29 23:26] bw4sz opened #342 "The documentation for distributed_backend is incorrect, it should be renamed 'accelelator' in recent pl version"
[code]
[code]

This was changed in a major release for pytorch lightning. The docs are now outdated.

https://deepforest.readthedocs.io/en/latest/ConfigurationFile.html#distributed-backend

[2022-08-29 23:41] bw4sz opened #343 "Add documentation for trainer strategy"
you can pass kwargs to main.create_trainer(strategy==...), this replaces the distributed_backend argument, #342

following:

https://pytorch-lightning.readthedocs.io/en/latest/extensions/strategy.html

[2022-08-30 03:16] bw4sz opened #345 "Update hook names"
[code]

[2022-08-30 13:40] bw4sz opened #347 "Allow users to modify input size"
[code]

This is poorly documented in torchvision,

https://github.com/pytorch/vision/blob/97e0ea9c6ebc454538b3fa505e1d199547b0feed/torchvision/models/detection/transform.py#L43

[2022-08-30 16:33] bw4sz commented on #333
Tests pass and merged into main.

[2022-08-30 16:33] #333 closed

[2022-08-30 16:34] bw4sz commented on #345
merged.

[2022-08-30 16:34] #345 closed

[2022-08-30 16:35] bw4sz commented on #334
let me know, what's your serving use case, you want others to upload images to run against the model? Keep me in the loop, i'd be interested in setting something up.

[2022-08-30 16:38] bw4sz commented on #335
Just as a sanity check, can you share your annotations file, I might have a malformed box or class. I'd be interested in exploring this more, retinanet should be formatting the sizes to a standard on entry, and I have an open issue https://github.com/weecology/DeepForest/issues/347 to allow users more control over this, but in principle, torchvision should allow you to batch images of different si

[2022-08-30 16:40] bw4sz commented on #331
@ivyleavedtoadflax is there an update to conda env we should make? I think this only a case on colab which has a version of things pre-installed, but which are old. I haven't heard of this other than that case.

[2022-08-30 16:47] bw4sz commented on #338
I am seeing this quite a bit in sporadic tests on github actions. I am fairly sure it is that the m.trainer is not pickelable and is unhappy being copied. I think the larger question is whether to take out this class and have users make their own trainer.

Pros

* Should get rid of this annoying and sporadic garbage clean error
* Aligns itself with the pytorch lightning API, the trainer and lightn

[2022-08-31 13:49] bw4sz opened #348 "Make the dataloader faster"
1. Profile existing dataloader.
2. Test whether preload_images=True should happen before create a dataloader
3. Have a performance page, timings with tests across multiple gpu
If you preload in the dataloader, every copy of that dataloader loads all images. As you scale to multiple GPUs, this becauses really heavy and swamps out the benefit of preloading.

[2022-08-31 13:51] #342 closed

[2022-09-01 11:29] ivyleavedtoadflax commented on #331
It would be good if you could pin the requirements so that there is a specific version for each package listed in https://github.com/weecology/DeepForest/blob/main/environment.yml, or add a pinned set of dependencies with something like `pip freeze > requirements.txt` (I don't use conda, so I don't know the conda equivalent, but i'm sure there is one). Otherwise a user will end up with a different

[2022-09-01 14:46] ethanwhite commented on #331
I've submitted a PR with the noted minimum version updates. I don't think we generally want to force the use of specific versions of packages unless necessary because it can make working with other packages more challenging.

[2022-09-01 18:21] jeroenVerdonschot commented on #334
Yes bw4sz,

That's right. I am currently using Deepforest to find trees on the Dutch PDOK aerial imagery:
[https://www.pdok.nl/introductie/-/article/luchtfoto-pdok](url)

I have great results already using the default Deepforest model but I am working on refining the dataset to work even better on the  PDOK dataset in the near future. To do so I need more people to manually help me out. That's why

[2022-09-04 22:00] bw4sz commented on #338
@ethanwhite can you clarify your reproducible comment above, does that yield an error?

I get

[code]
without error.

[code]
I am 99% I understand the error, but the change would be atleast a minor patch and not backwards compatible with atleast current docs so I want to understand how widespread a workaround would need to be versus making such a change. Its the m.trainer() object doesn't want to

[2022-09-06 11:19] ethanwhite commented on #338
@bw4sz - I can't reproduce the error either (tested on both my own machine and on the HPC), I was just getting us to the point where we had a single chunk of code that we could all run that let @taucler reproduce what they were seeing. My current impression is that it seems to only show up on cloud infrastructure for some reason.

[2022-09-06 17:38] #331 closed

[2022-09-06 17:40] bw4sz opened #350 "Annotations to shapefiles utility fails if there is one returned prediction row."
Also we should check for empty annotations

[2022-09-06 18:08] bw4sz opened #351 "Auto roll images if channel is last"
[code]

[2022-09-06 18:23] bw4sz opened #352 "Unify post-prediction visualization and conversation to shapefiles, need tests for both projected and unprojected."
The current code isn't really robust enough.

[2022-09-06 18:48] bw4sz commented on #338
I added to the FAQ as a starting point.

## Weakly referenced objects

On some devices and systems we have found an error referencing the model.trainer object that was created in m.create_trainer().
We welcome a reproducible issue to address this error as it appears highly variable and relates to upstream issues. It appears more common on google colab and github actions.

https://github.com/Lightn

[2022-09-06 18:52] bw4sz commented on #334
I think torchserve is probably the wrong avenue for this. I think this is the perfect use case for AIDE.

https://github.com/microsoft/aerial_wildlife_detection

You should contact https://twitter.com/b_kellenb who runs that project, he recently told me he has a branch with deepforest already on it. Let me know, this integration has been a long term goal.

[2022-09-06 23:15] bw4sz commented on #311
I don't have any reason to believe that geotif would be different than .png, can you share the geotiff version?

@easz is right, it all depends on patch size, which is a slightly frustrating fact. We are working on it.

[code]
worked reasonably well, the image is a bit low quality.

![Uploading image.png…]()

I'd guess that patch size of 100 would be more suitable.

[2022-09-06 23:15] #311 closed

[2022-09-07 03:52] #352 closed

[2022-09-07 03:57] #351 closed

[2022-09-07 03:57] #350 closed

[2022-09-07 03:59] #339 closed

[2022-09-07 04:00] #328 closed

[2022-09-07 12:00] ethanwhite commented on #338
LGTM. The fix that I made in EvergladesSpeciesModel for the save issue was simply to save the model immediately after fitting. That eliminated the idiosyncratic error we were seeing there.

[2022-09-07 17:05] pythonlover22 commented on #337
Hi @easz ,
Thank you so much for your feedback.
Since I could not have all data one time I'll try the training sequence you have mentioned. `prebuilt model` -> trained w/ `1st annotation dataset` -> `model_01` -> trained w/ `2nd annotation dataset` etc.
I'll share the work progress here to share knowledge with anyone have similar task.
Thank you once again.

[2022-09-07 19:05] pythonlover22 opened #354 "No predictions made after Training true orthophoto (True-DOP)"
I trained an orthophoto (DOP) with its annotation csv file and the results are good. I used the following code and configuration:

Crops size:
 `500`pix and `20`% overlap.

Training code:
[code]
Output:
Epoch 49: 100%    27/27 [14:00<00:00, 33.22s/it,` loss=0.432`, v_num=6]

Check box_precision and box_recall:
[code]
Output:
[5428 rows x 12 columns],
 '`box_precision': 0.9107205230625193`,
 '`box_

[2022-09-21 19:50] bw4sz commented on #340
There my be data associated with
[Methods Ecol Evol - 2021 - Tang - Large‐scale  image‐based tree species mapping in a tropical forest using artificial.pdf](https://github.com/weecology/DeepForest/files/9619919/Methods.Ecol.Evol.-.2021.-.Tang.-.Large.scale.image.based.tree.species.mapping.in.a.tropical.forest.using.artificial.pdf)

[2022-09-23 03:01] bw4sz commented on #340
South Pacific

https://docs.google.com/document/d/16kKik2clGutKejU8uqZevNY6JALf4aVk2ELxLeR-msQ/edit

[2022-09-28 05:26] linyz0100 commented on #338
Hi, I also get the weakly ref object issue trying to run a reprex on both colab and my machine. I'm using @bw4sz 's code here. Also shall I roll back to a previous version of torchvision for the weight issue? I'm really new to pytorch.

/opt/homebrew/anaconda3/envs/deepforest/lib/python3.9/site-packages/torchvision/models/_utils.py:208: UserWarning: The parameter 'pretrained' is deprecated since 0

[2022-09-28 13:48] bw4sz commented on #338
can you confirm your package versions so I can try to reproduce.

[2022-09-28 14:34] Ciaran1981 opened #360 "Transfer learning"
**Describe the bug**

I'm not sure if this is a bug or my ignorance, but would really appreciate the help. Whenever I attempt to train the release model regardless of the no of epochs etc. it produces identical predictions to the model prior to any additional training. Can anyone explain this behavior / offer a solution?

Is there something further I need to do with the model object post training?

[2022-09-28 16:33] bw4sz commented on #338
I am not following why/when you are using
[code]

there is no reason to use this. Please create a clean env, simply use

[code]

your second error has nothing to do with weakly reference objects, please copy and paste your entire code, starting from installation.

[2022-09-28 17:22] linyz0100 commented on #338
Sorry I'm quite new to open source and pytorch. The following is my process:
[code]
where mytest.py is
[code]
and get
[code]
Python version is 3.8.8. This is without git clone, in an empty folder. The same process in the clone folder changes the version from 1.2.2 to 1.2.3

[2022-10-03 16:20] bw4sz commented on #340
https://essd.copernicus.org/preprints/essd-2022-312/ germany tree species

[2022-10-07 20:01] bw4sz commented on #338
Can you be sure that you are using the right deepforest version? What is your operating system (windows?). On Mac, same code cannot produce that error

Install

[code]

Run

[code]

[2022-10-10 13:51] j-la-haye opened #361 "Shapefile_to_annotations from example not working as 'box_points' and 'buffer_size' args. aren't defined in repo."
**Describe the bug**
shapefile_to_annotations shown on bird_detector example does not have the shown arguments: 'box_points' and 'buffer_size'

Does the method just need to updated on the Git repo?

**To Reproduce**
df = shapefile_to_annotations(
    shapefile="annotations.shp",
    rgb="image_path", box_points=True, buffer_size=0.15
)

The call fails because deepforest.utilities.shapefile_to_anno

[2022-10-11 07:58] bw4sz commented on #337
be really careful about catastrophic forgetting. You should evaluate the
model periodically on past areas.

On Wed, Sep 7, 2022 at 10:05 AM pythonlover ***@***.***>
wrote:

--
Ben Weinstein, Ph.D.
Research Scientist
University of Florida
http://benweinstein.weebly.com/

[2022-10-11 08:45] pythonlover22 commented on #337
Hi @bw4sz ,
Thank you for your reply, I'll do that.

[2022-10-11 09:26] #354 closed

[2022-10-24 13:36] ethanwhite opened #362 "Add examples of projects using DeepForest to the README"
* https://ieeexplore.ieee.org/abstract/document/9911397
* https://www.arcgis.com/home/item.html?id=4af356858b1044908d9204f8b79ced99
* https://agisoft.freshdesk.com/support/solutions/articles/31000162552-automatic-detection-of-objects-on-orthomosaic
* https://doi.org/10.3390/rs14194963
* https://arxiv.org/pdf/2201.11192.pdf

[2022-10-27 20:25] bw4sz commented on #361
[code]

I'm 99% sure that you are just a version behind.

[2022-10-27 20:28] bw4sz commented on #360
hard to guess at what's happening here, but I can confirm that the code looks adequate. Can you do a dummy test and way overfit on your data? change

[code]
and do that for a bunch of epochs. This will massively overfit and should produce new (and terrible) predictions.

[2022-11-03 20:44] bw4sz commented on #361
update here?

[2022-11-03 21:59] bw4sz commented on #340
Synthetic trees

https://arxiv.org/pdf/2210.17424.pdf

[2022-11-04 09:47] j-la-haye commented on #231
@bzsklvnt @ethanwhite

I am trying to test the multi class training and so far get no predictions using the provided testfile_multi.csv data.
If I place "fast_dev_run" to False to train for more than one epoch, I get the following error:

"Input type (torch.FloatTensor) and weight type (torch.cuda.FloatTensor) should be the same or input should be a MKLDNN tensor and weight is a dense tensor"

Any

[2022-11-04 09:58] j-la-haye commented on #361
@bw4sz I ran pip install --upgrade deepforest and do not see any changes in utilities.shapefile_to_annotations

Something else I should try or look elsewhere?

Thanks!

![Screenshot from 2022-11-04 10-54-48](https://user-images.githubusercontent.com/26750133/199945069-b5b7f3f2-aefd-4eb6-8a34-720a5514c5b6.png)

[2022-11-04 10:35] j-la-haye commented on #231
Solved this error. Need to push the training to the GPU for second iteration.
m.config['gpus'] = '1'

I still get terrible results on the provided test data and no predictions unless I use m.config["score_thresh"] = 0.01.
Should this be the case (I understand its a tiny training set), but not sure if this is the result I should expect?

Thanks for any tips!
![SOAP_061](https://user-images.githubus

[2022-11-04 13:25] ethanwhite commented on #361
@j-la-haye - I think the docs are just wrong. Assuming you have a shapefile of bounding boxes can you remove the `box_points=True, buffer_size=0.15` arguments and see if everything works.

[2022-11-05 13:00] ThomasHaarlem opened #364 "definition of a Tree?"
maybe I've overlooked it in te documentation, but what is considered a 'tree' for this detection algorithm? And, maybe more important: what might look like a tree to some, but is not considered a tree for the algorithm?
This to check for the true-positives, false-positives and false-negatieves with my own results related to ground-truth sampling in my research area.

[2022-11-05 15:16] bw4sz commented on #364
Can you show some image examples? For our annotations, a Tree was defined
as a vertical woody vegetation above 3m for the semi-supervised LiDAR based
pretraining. For the NEON sites we used knowledge of the dominant species.
At the edges it will be a blurry definition. Large shrubs are likely to be
included in open arid landscapes.

On Sat, Nov 5, 2022 at 6:00 AM Thomas Haarlem ***@***.***>
wrote:

[2022-11-06 11:35] ThomasHaarlem commented on #364
Something like this:

![TD_treeQ](https://user-images.githubusercontent.com/45486967/200167963-8e4042f3-5294-4bd8-bf56-9aeccd32b6a7.JPG)

Is it a false negative or just not considered a tree?

[2022-11-06 21:25] bw4sz commented on #364
This model is designed for overhead tree detection from airborne imagery.
This isn't the right tool for that image at all. Check out work by Sara
Beery on AutoArborist for merging airborne and google street view, you may
be able to extract something from that work. Deepforest is not the right
fit for you.

On Sun, Nov 6, 2022 at 3:35 AM Thomas Haarlem ***@***.***>
wrote:

--
Ben Weinstein, Ph.D.
R

[2022-11-07 13:08] Ciaran1981 commented on #360
Hi - it seems by doing the following the transfer learning works ( I had previously not initialized the following - not sure if it is in the example code or not....)

`m.train()`

[2022-11-07 14:29] ThomasHaarlem commented on #364
I'm sorry, that is not what I ment.
On the aerial photograph I saw that DeepForest didn't detect this object. To clerify what it looks like on the ground, I added the streetview image.
Just to get a better understanding of the results: is this object a Tree which should have been detected so it's a false-negative or is it a true-negative because it doesn't apply to the definition of a tree used to

[2022-11-07 21:37] bw4sz commented on #361
I completely misunderstood this issue. Yes, the docs are wrong.

<img width="911" alt="image" src="https://user-images.githubusercontent.com/1208492/200419142-36ccbf37-a1a4-490c-a3ae-3415a79bb5ba.png">

I have figured out what happened, this doc was pointing at the bird_detector preprocessing function with the same name that lived outside deepforest here: https://github.com/weecology/BirdDetector/

[2022-11-07 22:29] bw4sz commented on #364
That looks like a tree to me. Can I see the airborne image?

[2022-11-08 00:26] #361 closed

[2022-11-08 08:28] j-la-haye commented on #361
@bw4sz thanks very much for your prompt response!

[2022-11-08 17:48] #303 closed

[2022-11-08 17:48] #324 closed

[2022-11-08 17:49] bw4sz commented on #338
Any update here. I have not had any reports on this issue since version update?

[2022-11-08 18:06] henrykironde commented on #338
@taucler should be able to let us know. I may get a chance this evening or tomorrow to test some of those issues.

[2022-11-10 19:08] #343 closed

[2022-11-10 19:08] bw4sz commented on #360
Happy to help here, let me know why this was re-opened.

[2022-11-14 10:36] Ciaran1981 commented on #360
Thanks - I though I'd solved it but alas I have not. Not got round to testing further yet.

[2022-11-15 10:28] Coder-GAN commented on #338
Hi Ben, I got the same issue with deepforest version 1.2.3.

[2022-11-15 17:40] bw4sz commented on #338
Can you show the code? I cannot reproduce. Clean conda env, pip install deepforest.

[code]

[2022-11-17 19:37] bw4sz commented on #340
https://besjournals.onlinelibrary.wiley.com/doi/10.1111/2041-210X.13860
drones